{% include "header.html" %}

  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li>Admin</li>
            <li>Configuration</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://github.com/vikdiesel/admin-one-bulma-dashboard" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-github-circle"></i></span>
              <span>GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <div class="tabs is-centered is-boxed">
  <ul>
    <li class="is-active" data-target="csv">
      <a>
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span>Excel</span>
      </a>
    </li>
    <li data-target="postgres">
      <a>
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span>Bdd/Postgres</span>
      </a>
    </li>
    <li data-target="API">
      <a>
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span>API</span>
      </a>
    </li>
    <li data-target="manuel">
      <a>
        <span class="icon is-small"><i class="fas fa-file-text-o" aria-hidden="true"></i></span>
        <span>Manuelle</span>
      </a>
    </li>
  </ul>
</div>
<div class="px2" id="tab-content">
  <div id="csv">
    <section class="hero is-hero-bar">
      <div class="hero-body">
        <p class="title">
          Configuration via un fichier Excel
        </p>
        <p class="subtitle">
          Ici pous pouvez créer les différents objets de votre API SensorThings en important un fichier au format XLSX.<br>
          Des exemples de fichiers de configuration sont disponibles en téléchargement.
        </p>

      </div>
    </section>
    <section class="section">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="card tile is-child">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-ballot"></i></span>
                Configuration
              </p>
            </header>
            <div class="card-content">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Service</label>
                  </div>
                  <div class="field-body">
                    <div class="field is-narrow">
                      <div class="control">
                        <div class="select is-fullwidth">
                          <select>
                            {% for i in baseJsonST: %}
                            <option value="{{i.url}}">{{i.title}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal"><label class="label">Fichier XLSX</label></div>
                  <div class="field-body">
                    <div class="field">
                      <div class="field file">
                        <label class="upload control">
                          <form id="myForm" enctype=multipart/form-data >
                            <a class="button is-primary">
                              <span class="icon"><i class="mdi mdi-upload"></i></span>
                              <span id="spanF">Importer</span>
                            </a>
                            <input id="inputF" type=file name=file accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                          </form>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="field has-check is-horizontal">
                  <div class="field-label"><label class="label">Type</label></div>
                  <div class="field-body">
                    <div class="field">
                      <div class="field is-grouped-multiline is-grouped">
                        <div class="control"><label class="b-radio radio"><input type="radio" name="type" value="standard" checked>
                          <span class="check"></span>
                          <span class="control-label">Standard</span>
                        </label></div>
                        <div class="control"><label class="b-radio radio"><input type="radio" name="type" value="Lora">
                          <span class="check"></span>
                          <span class="control-label">Lora</span>
                        </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="field has-check is-horizontal">
                  <div class="field-label"><label class="label">Datastreams</label></div>
                  <div class="field-body">
                    <div class="field">
                      <div class="field is-grouped-multiline is-grouped">
                        <div class="control"><label class="b-radio radio"><input type="radio" name="datastreams" value="simple" checked>
                          <span class="check"></span>
                          <span class="control-label">Simple</span>
                        </label></div>
                        <div class="control"><label class="b-radio radio"><input type="radio" name="datastreams" value="multi">
                          <span class="check"></span>
                          <span class="control-label">Multi</span>
                        </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="field is-horizontal">
                  <div class="field-label is-normal"><label class="label">Objets SensorThings</label></div>
                  <div class="field-body">
                    <div class="field">
                      <div class="field file">
                        <label class="upload control">
                            <button id="save_btn" class="button is-primary" onclick="postXlsxConfig()">
                                Créer
                            </button >
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Exemples
              </p>
            </header>
            <div class="card-content">
              <div class="b-table has-pagination">
                <div class="table-wrapper has-mobile-cards">
                  <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Nom</th>
                      <th>Fichier</th>
                      <th>Auteur</th>
                      <th>Création</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for i in configExamples: %}
                    <tr>
                      <td class="is-image-cell">
                        <div class="image">
                          <img src="{{i.icon}}" class="is-rounded"></img>
                        </div>
                      </td>
                      <td data-label="Name">{{i.name}}</td>
                      <td data-label="file"><a href="{{i.url}}">{{i.file}}</a></td>
                      <td data-label="Author">{{i.author}}</td>
                      <td data-label="Created">
                        <small class="has-text-grey is-abbr-like" title="Oct 25, 2020">{{i.date}}</small>
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="static/js/configure-instance.js"></script>

  <script>

    async function postData(url = "",data = {}) {

      const response = await fetch(url, {
            method: "POST",
            headers: {
            "Content-Type": "application/json",

            },
            body: JSON.stringify(data),
        });
        if (response.status == 201 || response.status == 200) {
                return response.headers;
        } else {
            return false
        }
    }
    async function postXlsxConfig() {
      document.getElementById("save_btn").classList.add('is-loading')

      var form = document.getElementById("myForm");
      var FD = new FormData(form);
      data_process_out = await fetch("{{ url_for('main.upload_config') }}", {

        method: "POST",
        body: FD
      }).then((response) => response.json())
      .then((data) =>   {

          if (data['etat']=='ok'){
              alert("upload ok ")
              console.log(data["api_response"])
              return true
          } else {
              alert("fichier vide ou mal envoyé")
              console.log(data["api_response"])
              return false
          }
      })
      .catch(err => {
        alert("le serveur de stockage  ne répond pas")

      });
      document.getElementById("save_btn").classList.remove('is-loading')
      console.log(data_process_out)
    }



    function changeText() {
      var selectElement = document.getElementById("inputF")
      document.getElementById("spanF").innerText = selectElement.files[0].name
    }
    document.getElementById("inputF").addEventListener("change",  changeText);
  </script>
{% include "footer.html" %}
