{% include "header.html" %}

  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Projet SOFAIR : Sensors Observations to FAIR data
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced">
                  Instances
                </h3>
                  <h1 class="title">
                    {{statJsonST.nb_instances}}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                    class="mdi mdi-account-multiple mdi-48px"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced">
                  Objets
                </h3>
                  <h1 class="title">
                    {{statJsonST.nb_things}}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-danger is-large"><i
                    class="mdi mdi-access-point mdi-48px"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced">
                  Propriètés observées
                </h3>
                  <h1 class="title">
                    {{statJsonST.nb_observedProperties}}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-info is-large"><i
                    class="mdi mdi-microscope mdi-48px"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced">
                  Observations
                </h3>
                  <h1 class="title">
                    {{statJsonST.nb_observations}}
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                    class="mdi mdi-finance mdi-48px"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-finance"></i></span>
          Services SensorThings
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
    </div>
    {% block content %}
<div class="columns is-multiline is-mobile">
  {% for i in baseJsonST: %}
    <div class="column is-one-quarter">
      <article class="message">
	<div class="message-header" >
	  <p><a id="{{i.name}}">{{i.name}}<a></p>
	</div>
	<div class="message-body">
	  <table class='table is-fullwidth'>
            <tbody>
              <tr>
	  <p>{{i.title}}</p>
              </tr>
              <tr>
	  <p><a class="has-text-link" href={{i.url}} target="_blank">{{i.url}}</a></p>
              </tr>
            </tbody>
          </table>
	  <table class='table is-fullwidth'>
            <tbody>
              <tr>
		<div class="columns">
                  <div class="column is-one-quarter">
                    <div class="level is-mobile">
		      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Objets</p>
                          <p class="title"><a href="{{i.url}}Things?$count=true" target="_blank">{{i.nb_things}}</a></p>
                        </div>
                        <div class="is-widget-icon"><span class="icon has-text-danger">                                <i class="mdi mdi-access-point mdi-24px"></i></span>
                        </div>
                      </div>
		      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Propriètés</p>
                          <p class="title"><a href="{{i.url}}ObservedProperties?$count=true" target="_blank">{{i.nb_observedProperties}}</a></p>
                        </div>
                        <div class="is-widget-icon"><span class="icon has-text-info">                                <i class="mdi mdi-microscope mdi-24px"></i></span>
                        </div>
                      </div>
		      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Observations</p>
                          <p class="subtitle"><a href="{{i.url}}Observations?$count=true" target="_blank">{{i.nb_observations}}</a></p>
                        </div>
                        <div class="is-widget-icon"><span class="icon has-text-success">                                <i class="mdi mdi-finance mdi-24px"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
              <tr>
                <td>Configuration</td>
                <td>
                  <div>
		    {% if i.configuration == "true": %}
                    <progress class=
                      "progress is-success"
                      value="100" max="100">100
                    </progress>
		    {% else %}
                    <progress class=
                      "progress is-danger"
                      value="100" max="100">100
                    </progress>
		    {% endif %}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Données</td>
                <td>
                  <div>
		    {% if i.data == "true": %}
                    <progress class=
                      "progress is-success"
                      value="100" max="100">100
                    </progress>
		    {% else %}
                    <progress class=
                      "progress is-danger"
                      value="100" max="100">100
                    </progress>
		    {% endif %}
                    </progress>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Métadonnées</td>
                <td>
                  <div>
		    {% if i.md_layer != "" and i.md_service != "": %}
                    <progress class=
                      "progress is-success"
                      value="100" max="100">100
                    </progress>
		    {% elif i.md_layer != "" or i.md_service != "": %}
                    <progress class=
                      "progress is-warning"
                      value="50" max="100">50
                    </progress>
		    {% else  %}
                    <progress class=
                      "progress is-danger"
                      value="100" max="100">100
                    </progress>
		    {% endif %}
                  </div>
                </td>
              </tr>
              <tr>
		{% if i.viewer != "" %}
		<td> <p><a class="has-text-link" href={{i.viewer}} target="_blank">Viewer</a></p></td>
		{% else %}
                <td>Viewer</td>
		{% endif %}
                <td>
                  <div>
		    {% if i.viewer != "" %}
                    <progress class=
                      "progress is-success"
                      value="100" max="100">100
                    </progress>
		    {% else %}
                    <progress class=
                      "progress is-danger"
                      value="100" max="100">100
                    </progress>
		    {% endif %}
                  </div>
                </td>
          </table>
	</div>
      </article>
    </div>
  {% endfor %}
</div>
{% endblock %}
{% include "footer.html" %}